<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<header>
  <nav>
    <a href="/site/5">page 5</a>
    <a href="/site/66">page 66</a>
    <a href="/site/777">page 777</a>
  </nav>
  <nav>
    <a href="/user/login">Login</a>
    <a href="/user/logout">Logout</a>

  </nav>
</header>


