
  <%- include('partials/header'); -%>

  <% if (message) { -%>
    <div class="message <%= messageClass %>"><%= message %></div>
  <% } -%>

  <form method="POST" action="/user/login" class="login-register">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button>Login</button>
  </form>

  <small>Don't have an account? Click <a href="/user/register">here</a> to create one</small>

  <%- include('partials/footer'); -%>
