
  <%- include('partials/header'); -%>

  <form method="POST" action="/user/register" class="login-register">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button>Register</button>
  </form>

  <%- include('partials/footer'); -%>
