body {
  background-color: orange;
}
header {
  width: 100%;
}
header nav:first-child {
  width: 47%;
  display: inline-block;
}
header nav:last-child {
  width: 47%;
  display: inline-block;
  text-align: right;
}
nav {
  margin-top: 15px;
  margin-bottom: 15px;
}
footer {
  margin-top: 20px;
}
.message {
  border: 1px solid;
  padding: 10px;
  background-color: rgb(224, 224, 224);
  color: blue;
  border-color: black;
}
.message.bad {
  border-color: red;
  background-color: pink;
  color: red;
}
.message.good {
  border-color: green;
  background-color: lightgreen;
  color: green;
}
form.login-register {
  margin-top: 15px;
  margin-bottom: 15px;
}
.copyleft { /* https://stackoverflow.com/a/37088346/5924190 */
  display: inline-block;
  transform: rotate(180deg);
}